.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.google_signin {
  padding: 20px;
  background-color: #043744;
  background-image: linear-gradient(294deg, #043744 0%, #b721ff 100%);
  border: 1px solid #f2eaec;
  border-radius: 3px;
  font-size: 0.9em;
  font-weight: bold;
  color: #a6e1fa;
  cursor: pointer;
  transition: 0.1s;
}

.google_signin:hover {
  background-color: #065d77;
  padding: 22px;
  border: 1px solid yellow;
  background-image: linear-gradient(294deg, #065d77 0%, #9b8ca5 100%);
}
