.nav-wrapper {
  background-color: #226db5;
  background-image: linear-gradient(
    89deg,
    #09182e 15%,
    #2bced6 35%,
    white 50%,
    #fc3a52 75%,
    #fc3a52 100%
  );
}

.nav-wrapper .brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Cantarell', serif;
  font-style: italic;
}
.nav-wrapper img {
  transition: 0.2s;
  border-bottom: 2px solid transparent;
  opacity: 0.92;
  width: 90px;
  padding: 5px;
}
.nav-wrapper img:hover {
  border-bottom: 2px solid #fc3a52;
  opacity: 1;
}

.login {
  font-family: 'Cantarell', sans-serif;
  font-size: 1.3rem;
  background-color: #52437b;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.credits_display {
  background: linear-gradient(
    -45deg,
    rgb(86, 95, 151) 0%,
    rgb(86, 95, 151) 63%,
    rgb(105, 118, 165) 63%,
    rgb(105, 118, 165) 75%,
    rgb(125, 141, 179) 75%,
    rgb(125, 141, 179) 81%,
    rgb(144, 165, 193) 81%,
    rgb(144, 165, 193) 85%,
    rgb(164, 188, 207) 85%,
    rgb(164, 188, 207) 90%,
    rgb(183, 211, 221) 90%,
    rgb(183, 211, 221) 100%
  );
  padding: 0 3px;
  font-weight: bold;
  font-family: 'Bitter', sans-serif;
}
